doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(crossorigin='' src='https://unpkg.com/react@16/umd/react.development.js')
        script(crossorigin='' src='https://unpkg.com/react-dom@16/umd/react-dom.development.js')
        script(src='https://unpkg.com/react-bootstrap-table-next@3.1.2/dist/react-bootstrap-table-next.min.js')
        script(src='https://npmcdn.com/react-bootstrap-table2-toolkit@1.4.2/dist/react-bootstrap-table2-toolkit.min.js')
        script(src='https://npmcdn.com/react-bootstrap-table2-paginator@2.0.6/dist/react-bootstrap-table2-paginator.min.js')
        script(src="/javascripts/app.js")
        script(src="https://code.jquery.com/jquery-1.12.4.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')

        block assets

    body
        block content
